.navbar{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    left: 0;
}